/*main styles*/  

.styleTHstd
{
height: 30px;
color: #0069AA;
text-align: center;
border-style: solid solid solid none; 
border-width: 1px;
border-color: Black;
}

.styleTHBWstd
{
height: 30px;
color: Black;
text-align: center;
border-style: solid solid solid none; 
border-width: 1px; 
border-color: Black;  
}

.styleTHleft
{
height: 30px;
color: #0069AA;
text-align: center;
border-style: solid solid solid solid; 
border-width: 1px;
border-color: Black;
}

.styleTHBWleft
{
height: 30px;
color: Black;
text-align: center;
border-style: solid solid solid solid; 
border-width: 1px; 
border-color: Black;  
}

.styleTDstd
{
color: Black;
height: 20px;    
text-align: center;
border-style: none solid solid none; 
border-width: 1px;
border-color: Black;
}

.styleTDBWstd
{
height: 20px;
color: Black;
text-align: center;
border-style: none solid solid none; 
border-width: 1px;
border-color: Black;    
}

.styleTDleft
{
height: 20px;
color: #0069AA;
text-align: center;
border-style: none solid solid solid; 
border-width: 1px;
border-color: Black;
}

.styleTDBWleft
{
height: 20px;
color: Black;
text-align: center;
border-style: none solid solid solid; 
border-width: 1px; 
border-color: Black;  
}

.styleTDcoststd
{
color: Black;
height: 20px;    
text-align: center;
border-style: solid solid solid none; 
border-width: 1px;
border-color: Black;
}

.styleTDCostleft
{
height: 20px;
color: Black;
text-align: center;
border-style: solid solid solid solid; 
border-width: 1px;
border-color: Black;
}

/* Also used by some description data */
.styleTDmaterial
{
color: Black;
height: 20px;    
text-align: left;
padding-left: 2px;
border-style: none solid solid none; 
border-width: 1px;
border-color: Black;
}

.styleTDopnotes
{
border-style: solid solid none solid; 
border-width: 1px; 
border-color: Black; 
color: #0069AA;
}

/* Only for hide functions */
.Div
{
    display:inherit;  
}

.Msg
{
    color:Black;   
}

td.Pwlabel
{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin: 0px;
    vertical-align: middle;
    padding-top: 5px;
    text-align: left;
    color: #0069AA;
    font-size:medium;
}